---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<html lang="en">
	<body>
		<BaseLayout pageTitle={'我的博客'}>
			<ul>
				<li><a href="/posts/post-1/">文章 1</a></li>
			</ul>
		</BaseLayout>
	</body>
</html>